.App { 
  display: flex;
  margin: 30px;
}

.friendsList {
  display: inline-block;
  width: 50%;
}

.friendsDetails {
  display: inline-block;
  width: 50%;
  margin-left: 60px ;
}

.green {
  color: green;
}

.grey {
  color: gray;
}